<h1>All users page</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
  <% @users.each do |user| %>
    <div class="p-5 bg-white shadow mb-5 flex items-center">
      <img src="https://xsgames.co/randomusers/avatar.php?g=male" class="h-20 h-20 rounded-full">
      <div class="pl-5">
        <h4 class="text-lg font-bold text-gray-700"><%= user.name %></h4>
        <span class="text-xs font-gray-500"><%= user.posts_count %> Posts</span>
      </div>
    </div>
  <% end %>
</div>